.modal__link-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 24px 0 0;
  text-align: center;
}

.modal__link-button {
  background: none;
  border: none;
  color: #084cfc;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin: 0;
  transition: opacity 0.2s;
}

.modal__link-button:hover {
  opacity: 0.7;
}
