.toggle-switch {
  margin: 0 10px 0 0;
  padding: 0;
  text-align: center;
  align-self: center;
  justify-self: center;
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  /* overflow: hidden; */
  transition: border-color 0.3s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toggle-switch:hover {
  border-color: #000;
}
.toggle-switch__checkbox {
  appearance: none;
  background-color: #000;
  position: absolute;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.toggle-switch__checkbox:checked {
  left: 28px;
  transition: left 0.3s ease-in-out;
}

.toggle-switch__checkbox:not(:checked) {
  left: 0;
  transition: left 0.3s ease-in-out;
}

.toggle-switch__span {
  margin: 0;
  padding: 4px 0 0;
  color: #7e7e7e;
  z-index: 1;
}
.toggle-switch:hover .toggle-switch__span_inactive {
  color: #000;
}
.toggle-switch__span_active {
  color: #fff;
}
