.card {
  width: 323px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 18px;
  border: 1px solid #0000004d;
  overflow: hidden;
}
.card__title-and-like {
  position: absolute;
  top: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-width: 200px;
  min-height: 30px;
}
.card__name {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #00000099;
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
}
.card__like-btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../../assets/images/like.svg);
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  padding: 0;
  cursor: pointer;
}

.card__like-btn:hover {
  background: url(../../assets/images/liked.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.card__like-btn:checked {
  background: url(../../assets/images/liked.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
.card__image {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 768px) {
  .card {
    width: 164px;
    height: 164px;
  }

  .card__title-and-like {
    position: absolute;
    top: 7px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-width: unset;
    min-height: unset;
  }
}
