.card {
  width: 323px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 18px;
  border: 1px solid #0000004d;
  overflow: hidden;
}
.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #00000099;
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
}

.card__image {
  width: 100%;
  cursor: pointer;
}
