.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
