.main {
  min-height: 550px;
}
.cards {
  margin-top: 40px;
}
.cards__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 34px;
  color: #000;
  padding-top: 4px;
}
.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 20px;
  justify-content: center;
}

@media (max-width: 840px) {
  .cards {
    margin-top: 32px;
  }
  .cards__text {
    margin: 0 0 20px;
    padding: 0;
    font-size: 19px;
  }
  .cards__list {
    grid-template-columns: repeat(auto-fit, 164px);
    gap: 15px;
  }
}
