.cards {
  margin-top: 40px;
}
.cards__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 34px;
  color: #000;
  padding-top: 4px;
}
.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}
