.main {
  flex-grow: 1;
}
.main__cards {
  margin-top: 40px;
  min-height: 60vh;
}
.main__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 34px;
  color: #000;
  padding-top: 4px;
}
.main__empty-message {
  text-align: center;
  margin: 0;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 20px;
  justify-content: center;
}

@media (max-width: 768px) {
  .main__cards {
    margin-top: 32px;
  }
  .main__text {
    margin: 0 0 20px;
    padding: 0;
    font-size: 19px;
  }
  .main__list {
    grid-template-columns: repeat(auto-fit, 164px);
    gap: 15px;
  }
}
