.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.header__logo {
  margin-right: 24px;
  width: 89px;
  height: 40px;
}
.header__date-and-location {
  margin: 0;
  padding-top: 4px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  line-height: 1;
}
