.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
}

.header__logo {
  margin-right: 24px;
  width: 89px;
  height: 40px;
}
.header__date-and-location {
  margin: 0;
  padding-top: 4px;
}

.header__toggler {
  margin: 0 20px 0 auto;
  display: flex;
}
.header__toggler-btn {
  display: none;
  background: none;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  line-height: 1;
}

@media (max-width: 820px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 0 16px;
    gap: 32px;
  }
  .header__logo {
    margin: 0;
  }
  .header__date-and-location {
    padding: 0;
  }
  .header__toggler-btn {
    display: block;
    z-index: 2;
  }
  .header__toggler {
    display: none;
  }
  .header__toggler_is-active {
    display: flex;
    position: absolute;
    height: 208px;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 10px;
  }
  .header__add-clothes-btn {
    margin: 0;
  }
  .header__user-container {
    order: -1;
  }
}
