.modal__container_type_image {
  padding: 0;
}
.modal__close-btn_type_preview {
  background-image: url(../../assets/images/close-transparent.svg);
  background-color: transparent;
  color: #ffffff;
  opacity: 1;
  top: 24px;
  right: 24px;
}

.modal__image {
  width: 100%;
  display: block;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
  max-height: 50vh;
}

.modal__footer {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 32px 32px;
  display: flex;
  justify-content: space-between;
}
.modal__caption {
  margin: 0 0 12px;
}
.modal__weather {
  margin: 0;
}
.modal__delete-btn {
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(255, 77, 0, 1);
  align-self: flex-start;
}

.modal__delete-btn_hidden {
  display: none;
}

@media (max-width: 768px) {
  .modal__container_type_image {
    max-width: 343px;
  }
  .modal__footer {
    padding: 20px 10px 10px;
  }
}
