.sidebar__profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.sidebar__username {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__avatar_none {
  height: 56px;
  width: 56px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.sidebar__actions {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.sidebar__btn {
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

@media (max-width: 768px) {
  .sidebar__profile {
    justify-content: flex-end;
    gap: 20px;
    align-items: normal;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px 0;
  }
}
