.footer {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 0;
  padding-right: 2px;
  padding-bottom: 24px;
}

.footer__text {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
