.modal__link-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 24px 0 0;
  text-align: center;
}

.modal__link-text_login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 32px 0 0;
}

  padding: 0;
  margin: 0;
  transition: opacity 0.2s;
}

.modal__link-button:hover {
  opacity: 0.7;
}
